<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enc-Tech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h4 class="reddit_redirect">Criado por <a href="https://www.reddit.com/user/Vousch/">@Vousch</a></h4>
    <div class="slogan">
        <img src="{{ url_for('static', filename='gear.png') }}" alt="" class="img-mobile">
        <img src="{{ url_for('static', filename='gear.png') }}" alt="" srcset="">
        <div class="slogan-tit">
            <p><span class="span-slogan">UMA</span> PÁGINA</p>
            <p><span class="span-slogan">UM</span> CURSO.</p>
        </div>
    </div>
    <h4 class="text_of_creator">"É o melhor curso do mundo 🤓☝️" - <br>opinião do criador 👍</h4>
    <div class="main" id="main">
        {% for text in texts %}
        <div class="curso-section">{{ text | safe }}</div>
        {% endfor %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var element = document.getElementById('main');
            // Regex para encontrar texto entre **
            element.innerHTML = element.innerHTML.replace(/\*\*(.*?)\*\*/g, '<strong style="margin:5px">$1</strong>');
            element.innerHTML = element.innerHTML.replace(/-XX-(.*?)-XX-/g, '<h1>$1</h1>');
            element.innerHTML = element.innerHTML.replace(/####/g, "");
        });
    </script>
</body>
</html>
