<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENC-TECH</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="background-color: #090909;">
    <h4 class="reddit_redirect">Criado por <a href="https://www.reddit.com/user/Vousch/">@Vousch</a></h4>
    <div class="slogan">
        <img src="{{ url_for('static', filename='gear.png') }}" alt="" class="img-mobile">
        <img src="{{ url_for('static', filename='gear.png') }}" alt="" srcset="">
        <div class="slogan-tit">
            <p><span class="span-slogan">UMA</span> PÁGINA</p>
            <p><span class="span-slogan">UM</span> CURSO.</p>
        </div>
    </div>
    <div class="black_solid"><img src="{{ url_for('static', filename='black_solid.png') }}" alt="">
        <button class="go_to_text">
            COMEÇAR O CURSO -->
        </button>
    </div>
    <div class="div-intro">
        <h4 class="text_of_creator">"É o melhor curso do mundo 🤓☝️" - <br>opinião do criador 👍</h4>
        <div class="div-intro_text">
            <h1 style="font-weight: 600;">Sobre o curso 💻📖</h1>
            <h4 style="font-weight: 200;">Um curso simples, que te ensinará o básico sobre a origem e o funcionamento dos computadores. Você aprenderá desde a origem dos computadores modernas, até lógica de programação e banco de dados em sistemas web</h4>
        </div>
    </div>
</body>
</html>