<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enc-Tech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='text.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='root.css') }}">
</head>
<body>
    <nav class="navbar_text"></nav>
    <div class="main" id="main">
        <div class="curso-section">
            <div class="text-container" id="text-container">
                {{ text | safe }}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://kit.fontawesome.com/e82009d315.js" crossorigin="anonymous"></script>
</body>
</html>