@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #00db3e;
    --secondary-color: #00b432;
    --secondary-bgcolor: #0a0a0a;
    --border: 1px solid hsla(0,0%,100%,.14);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    background-attachment: scroll;
    height: 100%;
    font-family: "Poppins", serif;
    font-weight: 100;
    background-color: black;
    color: white;
}

.reddit_redirect {
    display: flex;
    justify-content: center;
    margin: 5px;
    background-color: #000000;
    padding: 20px 0 0 0;
    height: 100%;
    margin: 0;

    a {
        color: var(--secondary-color);
        margin-left: 5px;
    }
}

.text_of_creator {
    display: flex;
    white-space: nowrap;
    font-size: 10px;
    justify-content: center;
    font-weight: 300;
}

.div-intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary-bgcolor);
    width: 100%;
    height: 100%;
    padding: 15px;
    margin-bottom: 0;
    margin-top: 8px;

    h4 {
        margin: 10px;
    }

    h1 {
        margin-top: 40px;
    }
}

.div-intro_text {
    display: flex;
    position: relative;
    margin: 0;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;

    h1 {
        font-size: 20px;
        margin-left: 10px;
    }
}

.black_solid {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-color: black;
    align-items: center;
    border-bottom: 1px solid hsla(0,0%,100%,.14);
    gap: 20px;
}

.go_to_text {
    position: absolute;
    width: 210px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    background: #007d3c;
    background: -webkit-linear-gradient(90deg, rgba(0, 125, 60, 1) 50%, rgba(0, 189, 57, 1) 100%);
    background: -moz-linear-gradient(90deg, rgba(0, 125, 60, 1) 50%, rgba(0, 189, 57, 1) 100%);
    background: linear-gradient(90deg, rgba(0, 125, 60, 1) 50%, rgba(0, 189, 57, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007D3C", endColorstr="#00BD39", GradientType=1);
    margin-top: 400px;
}

.black_solid div {
    display: flex;
    flex-direction: row;
    font-weight: 500;

    i {
        margin-right: 10px;
        color: var(--primary-color);
    }
}

.black_solid-text {
    text-align: center;
    position: relative;
    width: 80%;
    margin-top: 100px;

    h4 {
        font-size: clamp(1.3125rem, 0.887rem + 2.3478vw, 3rem);
        font-weight: 400;
        width: 100%;
    }

    span {
        font-size: clamp(1.3125rem, 0.887rem + 2.3478vw, 3rem);
        background: #007d3c;
        background: -webkit-linear-gradient(90deg, rgba(0, 125, 60, 1) 50%, rgba(0, 189, 57, 1) 100%);
        background: -moz-linear-gradient(90deg, rgba(0, 125, 60, 1) 50%, rgba(0, 189, 57, 1) 100%);
        background: linear-gradient(90deg, rgba(0, 125, 60, 1) 50%, rgba(0, 189, 57, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#007D3C", endColorstr="#00BD39", GradientType=1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

h5 {
    text-align: center;
    margin: 20px;

    a {
        text-decoration: none;
        color: var(--secondary-color);
    }
}

.div-intro_text {
    h1 {
        margin: 0;
        margin-left: 10px;
    }
}

.roadmap {
    margin: 100px;
    padding: 50px;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: black;

    h3 {
        font-weight: 600;
        margin: 20px;
    }

    hr {
        border: 1px solid var(--secondary-color);
        margin: 20px;
    }

    p {
        color: black;
        font-weight: 300;
    }

    h1 {
        font-size: 40px;
        margin: 20px 0 50px 0;
    }

    i {
        color: black;
    }
}

@media only screen and (max-width: 1070px){
    .main {
        padding: 25px;
    }
}

@media only screen and (max-width: 780px){
    .main {
        margin-top: 15vw;
    }
}

@media only screen and (max-width: 680px){
    .div-intro_text {
        width: 75%;
    }

    .roadmap {
        margin: 40px;
        margin-top: 100px;
        padding: 30px;
    }
}

@media only screen and (max-width: 540px){
    .div-intro_text {
        width: 75%;
    }
}

@media only screen and (max-width: 499px){
    .div-intro_text {
        width: 100%;
    }

    .roadmap {
        margin: 10px;
        margin-top: 100px;
    }

    .black_solid div {
        i {
            margin-right: 5px;
        }
        
        h5 {
            margin: 10px;
        }
    }
}

@media only screen and (max-width: 360px){
    .black_solid {
        height: 500px !important;
    }

    .black_solid div {
        top: 0;
    }

    .go_to_text {
        position: relative;
        top: 18px;
    }

    .roadmap {
        h3 {
            margin: 10px;
        }

        h1 {
            font-size: 35px;
        }
    }
}