<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://kit.fontawesome.com/5c274821a4.js" crossorigin="anonymous"></script>
    <title>introduction</title>
</head>
<body>
    <div id="particles-container"></div>
    <div class="section-1">
        <div>
            <h1>
                Uma introdução à
                <span>ciência da computação</span>
            </h1>
            <button>
                <i class="fa-solid fa-play"></i> START
            </button>
        </div>
    </div>
    <div class="section-2">
        <h1>
            Sobre o curso
        </h1>
        <hr>
        <h1>
            <span>Uma introdução à ciência da computação</span> é um curso focado para leigos na área da computação,
            completamente gratuito, intuitvo e interativo, perfeito para iniciantes.
        </h1>
    </div>
</body>
</html>